<h1>Post a new Gram</h1>

<br />

<%= simple_form_for @gram do |f| %>
  <%= f.input :message %>
  <br />
  <%= f.input :picture %>
  <%= f.submit "Post Gram", class: 'btn btn-success btn-fullwidth' %>
<% end %>